.list-item {
  width: 35%;
  height: 35%;
  margin-bottom: 35px;
  margin-right: 35px;
  background-color: #ffffff;
}

.image {
  height: 250px;
  width: 100%;
}
.heading {
  font-family: 'Roboto';
  font-size: 18px;
  color: #475569;
  padding-left: 20px;
}
.description {
  font-family: 'Roboto';
  padding-left: 20px;
  font-size: 15px;
  color: #64748b;
}
